html, body {
    margin: 0;
    padding: 0;
}

.dark-initial {


    background: #1F2937;
}

/*
/////////////////////////////////////////UPPER PART\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.main {
    height: 50%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    position: relative;

}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    /* identical to box height, or 173% */

    text-align: center;
    letter-spacing: -0.05em;

    color: #FFFFFF;
}

.input-number {
  font-size: 10em;
  background: transparant;
  color: white;
  border: 0;
  text-align: center;
  background-color: inherit;
  resize: none;
  outline: none;
}

.button {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}






/*/////////////////////////////////////////LOWER PART\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.results {
    width: 100%;
    height: 50%;
    position: relative;
    background: #1F2937;
    align-items: center;

}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
}

.calc {

}
